# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
env/

# Virtual environment
venv/
.venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Static files
staticfiles/